<?xml version="1.0" encoding="UTF-8"?>
<?if $(sys.BUILDARCH)="x86"?>
  <?define Win64 = "no" ?>
<?else?>
  <?define Win64 = "yes" ?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="CleanupRuntimeDataMarker" Guid="9526e32d-5f5e-4f93-bdbb-bae667ce0d7c" Win64="$(var.Win64)">
        <RegistryValue Root="HKCU"
                       Key="Software\encorehub\EncoreHub"
                       Name="CleanupRuntimeData"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <CustomAction Id="CleanupRuntimeDataDirs"
                  Directory="INSTALLDIR"
                  Execute="deferred"
                  Impersonate="no"
                  Return="ignore"
                  ExeCommand='cmd.exe /C if exist "[INSTALLDIR]data" rmdir /S /Q "[INSTALLDIR]data" &amp; if exist "[INSTALLDIR]log" rmdir /S /Q "[INSTALLDIR]log"' />

    <InstallExecuteSequence>
      <Custom Action="CleanupRuntimeDataDirs" Before="RemoveFolders">
        <![CDATA[REMOVE="ALL" AND NOT UPGRADINGPRODUCTCODE]]>
      </Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>
